.actions {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    grid-column: 3;
    grid-row: 4;
    margin: auto;
    width: 420px;

    button {
        height: 80px;
        width: 80px;
        font-size: 30px;
        background-color: $mainBlack;
        border: 1px solid $mainBlue;
        border-radius: 10px;
        color: $main-white;

        -webkit-box-shadow: 0px 0px 15px 5px #000000;
        box-shadow: 0px 0px 15px 5px #000000;

        &.repeat {
            background-color: $mainGray;
        }
    }
}