.item-preview {
    height: 40px;
    align-items: center;

    .sound-layer {
        display: flex;
        border-radius: 6px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $mainGray;
        padding: 10px 20px;
        height: 40px;
        width: 260px;
    }
}