.layer-preview {
    height: 40px;
    align-items: center;

    .mute-btn {
        width: 45px;

        button {
            background: none;
            border: none;
            color: $main-white;
            font-size: 20px;
        }
    }

    .sound-layer {
        display: flex;
        border-radius: 6px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $mainGray;
        padding: 10px 20px;
        height: 40px;
        width: 260px;

        transition: all .05s;

        &:hover {
            border-bottom: 4px solid $mainBlack;
        }


    }
}