.main-app {
  background-color: $main-background;
  background-image: url('../assets/img/music-notes.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: $gtc;
  grid-template-rows: 60px 20px 1fr .5fr;
  min-height: calc(100vh - 144px);
  gap: 15px;
  text-align: center;
  align-items: center;
  color: $main-white;

  @media (max-width: 1000px) {
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    background-size: cover;
    gap: 5px;
    min-height: calc(100vh - 120px);
  }

  >* {
    grid-column: 2;
  }
}