.main-header {
  background-color: $mainBlack;
  color: darken($mainOrange, 10%);
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  min-height: 72px;
  align-items: center;

  @media (max-width: 1000px) {
    min-height: 60px;
  }

  .icon {
    height: 30px;
    width: 30px;
    background: repeating-radial-gradient(ellipse farthest-side at top center, #FFB077 0%, #FF77A0 54%);
    margin-left: 10px;
    border-radius: 50%;

    @media (max-width: 1000px) {
      height: 20px;
      width: 20px;
    }
  }

  .logo {
    padding: 5px;
    font-size: 3.4em;
    font-weight: 700;
    background: #FFB077;
    background: repeating-radial-gradient(ellipse farthest-side at top center, #FFB077 0%, #FF77A0 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 01s, background-color 1s;

    @media (max-width: 1000px) {
      font-size: 3em;
    }

    &:hover {
      transform: scale3d(1.1, 1.1, 1.2);
      cursor: pointer;
    }
  }

  .copyrights {
    border-right: 1px solid $main-background;
    width: 150px;
    text-align: center;
  }

  .contact>* {
    margin-left: 20px;
    text-align: center;

    i {
      background-color: $main-background;
      height: 24px;
      width: 24px;
      vertical-align: middle;
      line-height: 24px;
      font-size: 16px;
      border-radius: 50%;
      color: $main-white;
      transition: all .31s;

      &.fa-facebook {
        &:hover {
          color: #1b74e4;
        }
      }

      &.fa-linkedin {
        &:hover {
          color: #0a66c2;
        }
      }

      &:hover {
        color: $mainOrange;
      }
    }


  }
}